---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
  <h1>Home</h1>
  <!-- <img /> -->
  <p>Howdy! I'm Jason Sprinkle and I am a software developer and writer based out of Austin, Texas.</p>
</BaseLayout>
