/**
 * add font families
 */

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "WorkSansItalic";
  src: url("/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}

:root {
  /* dig this color palette */
  /* go here for inspo if you need it */
  /* https://www.color-hex.com/color-palette/111268 */
  --background-color: #ffecc8;
  --color: #2e2e2e;
  --link-color: #315f72;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "WorkSans";
}

main {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--link-color);
}

a:focus-visible {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

input,
textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--link-color);
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  outline-offset: 2px;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--link-color);
}

.invalid {
  outline: 2px solid red;
}

button {
  display: inline-flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  border: 1px solid var(--link-color);
  background-color: var(--link-color);
  cursor: pointer;
  color: white;

  /* clear some things out */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button:focus {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

header {
  position: sticky;
  top: 0px;
  background-color: var(--background-color);
}

main > div {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}
