---

---

<style>
  nav {
    border-bottom: 2px solid var(--color);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }

  li a {
    --link-color: var(--color);
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
  }
</style>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/writing">Writing</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
