---
// make sure we're working with a base that makes sense
import "modern-normalize";
import Navigation from "../components/Navigation.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jason Sprinkle | {pageTitle}</title>
    <style>
      :root {
        --background-color: #ffe5b4;
        --color: #2e2e2e;
      }

      body {
        background-color: var(--background-color);
        color: var(--color);
        max-width: 30rem;
        margin-right: auto;
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
