---
// make sure we're working with a base that makes sense
import "modern-normalize/modern-normalize.css";
import Navigation from "../components/Navigation.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jason Sprinkle | {pageTitle}</title>
    <style is:global>
      :root {
        /* dig this color palette */
        /* go here for inspo if you need it */
        /* https://www.color-hex.com/color-palette/111268 */
        --background-color: #ffe5b4;
        --color: #2e2e2e;
        --link-color: #315f72;
      }

      body {
        background-color: var(--background-color);
        color: var(--color);
        max-width: 40rem;
        margin-right: auto;
        margin-left: auto;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      main {
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
      }

      a {
        color: var(--link-color);
      }

      a:focus-visible {
        outline: 2px solid var(--link-color);
        outline-offset: 2px;
      }
    </style>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
