---
// make sure we're working with a base that makes sense
import "modern-normalize/modern-normalize.css";
import "../style/index.css";
import Navigation from "../components/Navigation.astro";

interface Props {
  pageTitle: string;
  headingCopy: string;
}

const { pageTitle, headingCopy } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/sunflower.svg" />
    <!-- preload the two fonts we will be using -->
    <link
      rel="preload"
      href="/fonts/WorkSans-Italic-VariableFont_wght.ttf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/WorkSans-VariableFont_wght.ttf"
      as="font"
      crossorigin
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jason Sprinkle | {pageTitle}</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <main>
      <h1>{headingCopy}</h1>
      <div class="slot-wrapper">
        <slot />
      </div>
    </main>
  </body>
</html>
